@mixin inpStyle($border-radius, $fs, $pd-inp) {
  border-radius: $border-radius;
  // padding: $pd-x $pd-y;
  font-size: $fs;
  padding: $pd-inp;
  margin-bottom: 20px;
}

@mixin labelStyle {
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  margin-bottom: 10px;
  color: $color-gray-400;
}

@mixin btnStyle($bg,$border-radius, $fs, $pd-inp, $text-color){
    background-color: $bg;
    @include inpStyle($border-radius, $fs, $pd-inp);
    color: $text-color;
}

@mixin txtStyle($color, $fw){
  color: $color;
  font-weight: $fw;
}

@mixin widHei($w, $h){
  width: $w;
  height: $h;
}