$color-pink-terralogic: #bd10e0;
$color-purple-terralogic: #4d0c5a;
$color-white: #fff;
$color-off-white: #e1e4e8;
$color-gray-200: #bfc2d3;
$color-gray-400: #6b6c6f;
$color-blue-name: #313558;

// border:
$border-1: 1px solid #212020;

// border-radius: 
$bd-rad: 4px;

// padding:
$pd-btn-1: 15px 40px;

$pd-inp: 19px 14px 19px 40px; 
